body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  overflow-x: hidden;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #ffffff;
  height: 500px;
  color: rgb(94, 94, 94);
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #fdfdfd;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: rgb(94, 94, 94);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #ffffff;
  color: rgb(255, 255, 255);
}

.h section:first-child{
  background-image: url(img/bg_section_1.jpg);
  background-size: 100%;
  height: 90vh;
}

.h section:first-child h1{
  font-size: 2.5em;
  width: 90%;
  padding-left: 0.8em;
}

h1, h2, h3, p{
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  color:  white;
}
.h section:first-child h2{
  font-size: 1.1em;
  padding-top: 4em;
  padding-left: 1.5em;
}

.h section:first-child button{
  border-color: black;
  width: 25em;
  height: 4.7em;
  background: linear-gradient(270deg, #ff2600, #fc8b00);
  border-radius: 2rem;
  transform: translateX(5%)
}

.h section:first-child button a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}


.h section:nth-of-type(2){
  background: linear-gradient(270deg, rgb(82, 82, 82), rgb(51, 51, 51));
  color: white;
  padding: 1em;
}

.h section:nth-of-type(2) h1{
  font-size: 2.5em;
}
.h section:nth-of-type(2) p{
  padding-bottom: 1.5em;
}

button{
  width: 90vw;
  height: 3.5em;
  background-color: transparent;
  border-color: #ffffff;
  border-width: .2em;
  border-style: solid;
  color: #ffffff;
}

.h section:nth-of-type(2) button:hover{
  color:rgb(211, 209, 209);
  border-color:rgb(211, 209, 209);
}

.h section:nth-of-type(3){
  background: black;
  padding: 1em;
  padding-top: 4em;
}

video{
  width: 90vw;
}

.h section:nth-of-type(3) img{
  width: 90vw;
}

.h section:nth-of-type(3) video:nth-of-type(2){
  padding-bottom: 8em;
}

.h section:nth-of-type(4) article:first-of-type{
  height: 40vh;
  object-fit: cover;
  background: url(img/senna_img.png);
  background-size: cover;
  padding: 1em;
}

.h section:nth-of-type(4) article:nth-of-type(2){
  height: 55vh;
  background: url(img/2_mclaren.jpg);
  background-size: cover;
  padding: 1em;
  background-repeat: no-repeat;
  background-position: center;
}

.h section:nth-of-type(4) article:last-of-type{
  background: url(img/mclaren_gts.png);
  background-size: cover;
  height: 55vh;
  padding: 1em;
  background-repeat: no-repeat;
  background-position: center;
}

.h section:nth-of-type(5) article:first-of-type{
  background: url(img/artura.jpg);
  background-size: cover;
  height: 40vh;
  padding: 1em;
  background-repeat: no-repeat;
  background-position: center;
}

.h section:nth-of-type(5) article:last-of-type{
  background: url(img/piastri.jpg);
  background-size: cover;
  height: 40vh;
  padding: 1em;
  background-repeat: no-repeat;
  background-position: center;
}

.h section:nth-of-type(4) h1:first-of-type{
  font-size: 2.5em;
  margin-bottom: 0;
}

.h section:nth-of-type(4) button:first-of-type{
  margin-bottom: 0;
}

.h section:nth-of-type(5) button{
  border: 0;
}

/* Detail page */
.dp section:first-of-type{
  position: relative;
  width: 100vw;
  height: 55vh;
}

.dp h1:first-of-type{
  position: absolute;
  left: .5em;
  bottom: 1em;
  font-size: 2.8em;
}

.dp p:first-of-type{
  position: absolute;
  margin-bottom: -1em;
  left: 1.1em;
  bottom: 8em;
  font-size: 1.2em;
}

.dp video:first-of-type{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dp section:nth-of-type(2) p, h2{
  color: black;
}

.dp section:nth-last-of-type(2){
  height: 100vh;
}